.nav {
    background-color: #FBF6EE;
    position: relative;
    display: flex;
    align-items: center; /* Vertical centering */
    height: 8vh; /* Example height, adjust as needed */
}

.logo {
    background-image: url("assets/header/pos_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 10px;
    height: 85px;
    width: 157px;
}

.nav p {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #65B741;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

.nav a {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px;
    padding: 10px;
    border-left-style: none;
}
.nav-center {
    align-items: center;  /*Vertical centering*/
}

.customers {
    margin-left: 10px;
}

.icon {
    color: black;
    margin: 5px;
}

.nav-end {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center; /* Vertical centering */
    height: 8vh; /* Example height, adjust as needed */
}

.section {
    position: absolute;
    background-color: white;
    height: 80vh;
    width: 90vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.item-logo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    padding: 10px;
}

.content {
    position: absolute;
    background-color: #FBF6EE;
    width: 90vw;
    height: 75vh;
    display: inline-block;
}
.custom-card {
    position: absolute;
    width: 40vw;
    height: 20vh;
    box-shadow: #D9D9D9 0px 5px 25px 1px;
    margin: 30px;
}
.custom-card-header {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
}
.search {
    width: 38vw;
}
.search-btn {
    background-color: #65B741;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 5px;
    width: 170px;
    border-radius: 5px;
}
.card-right-side {
    position: absolute;
    right: 20vw;
    top: 15vh;
    margin: auto;
}
.new-item-btn {
    margin: 10px;
    background-color: #207DFF;
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.view-all-item-btn {
    margin: 10px;
    background-color: #F9FD50;
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#searched-items {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85vw;
    margin-left: 29px;
    margin-right: 29px;
    margin-bottom: 20px;
}
#searched-items td, #searched-items th {
    border: 1px solid #ddd;
    padding: 8px;
}

#searched-items tr {
    height: 30px;
}
#searched-items tr:nth-child(even){background-color: #f2f2f2;}

#searched-items tr:hover {background-color: #ddd;}

#searched-items th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #65B741;
    color: white;
}
.delete-btn {
    margin: 10px;
    background-color: #FF6B6B;
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.update-btn {
    margin: 10px;
    background-color: #207DFF;
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.buttons {
    margin-left: 20px;
}

@media (max-width: 576px) {
    .custom-card {
        width: 100%;
    }

    .card-right-side {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

    .buttons {
        margin-top: 20px;
    }

    #searched-items {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}