.header {
    background-color: #FBF6EE;
    position: relative;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 8vh; /* Example height, adjust as needed */
}
.header img {
    position: absolute;
    top: 0;
    left: 0;
    height: 85px;
    width: 157px;
}
.header p {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #65B741;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.section {
    position: relative;
}
.cube{
    background-color: #FBF6EE;
    width: 40vw;
    height: 80vh;
    border-radius: 15px;
    /*margin: 60px;*/
    box-shadow: 0 5px 25px 1px black;
    /*position: relative;*/
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 30px;
}
.cube::after{
    content: '';
    max-width: 495px;
    width: 100%;
    height: 15px;
    border-radius: 60px;
    bottom: 0;
    position: absolute;
}
.image {
    background-image: url("large_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50vw;
    height: 90vh;
    position: absolute;
    right: 0;
    top: 0;
    display: inline;
}
.form {
    padding: 30px;
}
.login_logo {
    background-image: url("login_simbol.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.login_logo, .signup {
    display: inline-block;
    margin: 0;
}
.login {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.log_in_topic {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 8vh; /* Example height, adjust as needed */
}
.text {
    display: flex;
    height: 8vh; /* Example height, adjust as needed */
    padding: 30px;
}
.text-field1 {
    background-color: #D9D9D9;
}
.small-image {
    background-image: url("small_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 300px;
    margin: auto;
}